@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Nato Sans";
  src: url("./fonts/Noto_Sans_SignWriting/NotoSansSignWriting-Regular.ttf");
}

@font-face {
  font-family: "Kay";
  src: url("./fonts/Kay_Pho_Du/KayPhoDu-Regular.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-VariableFont_wght.ttf");
}

:root {
  --main-size: 100vh;
  --header-size: 7em;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h4,
ul,
span {
  font-family: "Nunito";
}

h3 {
  font-family: "Kay";
  font-size: 1.25rem;
}

p {
  font-family: "Kay";
}

body {
  background-color: #171717;
  overflow: auto;
  scrollbar-width: none;
  animation: load 0.6s;
}

.load-scroll {
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

ul {
  display: flex;
  gap: 2em;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Nunito";
}

.main {
  color: white;
  min-height: var(--main-size);
  transition: background-image 0.9s ease-in-out;
  transition: opacity 1s ease-in-out;
  background-color: #171717;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-position: fixed;
  animation: load 1s;
}

.main * {
  animation: load 0.5s;
}

.loaded::before {
  opacity: 1;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: var(--header-size);
}

header .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  height: 90%;
}

header .line {
  border: 1px solid white;
  color: white;
}

nav {
  margin-bottom: 0.5em;
}

header li {
  transition: all 0.15s ease-in-out;
  margin-bottom: 5px;
  cursor: default;
}

header li:hover {
  transform: translateY(-5px);
}

.head-li:active {
  scale: 1.1;
}

.hover-li {
  border-bottom: 2px solid white;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(var(--main-size) - var(--header-size));
}

#content.load-content {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #27272a;
  border-radius: 16px;
  background-color: #18181b;
  height: 500px;
  max-width: 700px;
  width: 60%;
  min-width: 550px;
  opacity: 0.925;
  gap: 1em;
}

.container h1 {
  margin-top: 1em;
}

.container p {
  font-size: 1.15rem;
}

.container img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 1.5em;
  object-fit: cover;
}

.discord-button {
  display: flex;
  border: 2px solid #404040;
  border-radius: 5px;
  background-color: #262626;
  color: white;
  width: 35%;
  height: 2em;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.discord-button:active {
  scale: 1.1;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px,1fr));
  grid-template-rows: repeat(auto-fill, minmax(340px, 1fr));
  gap: 2em;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  width: calc(100% - 4em);
  min-height: calc(var(--main-size) - (var(--header-size) + 2em));
  margin-bottom: 0.5em;
  /* height: auto; */
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border-radius: 15px;
  background-color: #262626;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: inherits;
  background-size: cover;
  transition: all 0.3s ease-in-out;
  min-height: 340px;
}

.item:hover {
  scale: 1.05;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #262626;
  border-radius: 0 0 8px 8px;
  height: 20%;
  transition: all 0.3s ease-in-out;
}

.footer * {
  margin-left: 0.5em;
}

.footer:hover {
  background-color: #9e0707;
}

.footer div {
  display: flex;
  flex-direction: column;
}

.footer p {
  font-family: "Nunito";
}

.footer button {
  display: flex;
  height: 100%;
  width: 30%;
  justify-content: center;
  align-items: center;
  font-family: "Nunito";
  transition: all 0.3s ease-in-outW;
  border-radius: 0 0 8px 0;
  border: none;
  background-color: #262626;
  color: white;
  transition: all 0.3s ease-in-out;
}

.div-text {
  display: none;
  background-color: #18181b;
  opacity: 0.975;
  height: calc(100% - 20%);
  width: 100%;
  border-radius: 15px 15px 0 0;
  transition: all 0.3s ease-in-out;
}

.div-text p {
  margin: 1em ;
  font-family: "Roboto";
}

.container-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 500px;
  gap: 3em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.description h2:first-child{
  margin-top: 0em;
}

.description h2 {
  margin-top: 1.5em;
}

.footer-date {
  display: flex;
  justify-content: end;
}

@keyframes load {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}